html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #0D0D0D; }

h1 {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #CC4E38;
  font-size: 4rem; }

.title {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #F2F2F2;
  font-size: 5rem; }

.highlight--red {
  background-color: #CC4E38;
  width: 100%;
  height: 2.5rem; }

p {
  font-family: 'Lato', sans-serif;
  color: #F2F2F2;
  line-height: 2;
  font-size: 2rem; }

nav ul {
  margin: 0;
  padding: 0; }

nav li {
  display: inline;
  list-style: none;
  font-family: 'nimbus-sans-extended', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #F2F2F2;
  margin-right: 7rem;
  transition: all .2s; }
  nav li:hover {
    color: #CC4E38; }

input {
  width: 100%;
  height: 5.5rem;
  background-color: #0D0D0D;
  border: 0.5rem solid #CC4E38;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #F2F2F2; }

.button--red {
  width: 25rem;
  height: 7.5rem;
  border: 1rem solid #CC4E38;
  background: #0D0D0D;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #F2F2F2;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s; }
  .button--red:hover {
    background: #CC4E38; }
  .button--red:focus {
    outline: none; }

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 13fr 3fr 13fr 3fr 1fr;
  grid-template-rows: 20rem 7rem;
  grid-auto-rows: 36rem 7rem;
  background-image: url("../../assets/blurred.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50%;
  background-attachment: fixed; }

header {
  grid-column: 2 / span 2;
  grid-row: 1 / span 5; }

nav {
  grid-column: 5 / 8;
  grid-row: 1 / 2;
  align-self: end; }

.heading {
  grid-column: 5 / 6;
  grid-row: 4 / 5; }

.cta--text {
  grid-column: 5 / 6;
  grid-row: 5 / 6; }

.portfolio--heading {
  grid-column: 2 / span 2;
  grid-row: 6 / 7; }

.portfolio--slider {
  grid-column: 3 / 7;
  grid-row: 7 / 10; }
  .portfolio--slider p {
    text-align: center; }

.contact--heading {
  grid-column: 2 / span 2;
  grid-row: 10 / 11; }

.form--section {
  grid-column: 5 / 6;
  grid-row: 11 / 15; }
  .form--section input, .form--section textarea {
    display: block; }

.about--heading {
  grid-column: 2 / span 2;
  grid-row: 18 / 19; }
