html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #0D0D0D; }

h1 {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #CC4E38;
  font-size: 4rem; }

.title {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #F2F2F2;
  font-size: 5rem; }

.card--description__heading {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #CC4E38;
  font-size: 3rem;
  margin-top: 3rem; }

.card--description__text {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #F2F2F2;
  font-size: 2rem;
  margin-top: 4rem;
  width: 80%; }

.highlight--red {
  background-color: #CC4E38;
  width: 100%;
  height: 2.5rem; }

p {
  font-family: 'Lato', sans-serif;
  color: #F2F2F2;
  line-height: 2;
  font-size: 2rem; }

nav ul {
  margin: 0;
  padding: 0; }

nav li {
  display: inline;
  list-style: none;
  font-family: 'nimbus-sans-extended', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #F2F2F2;
  margin-right: 7rem;
  transition: all .2s; }
  nav li:hover {
    color: #CC4E38; }

.glider {
  height: 100% !important; }

.card--wrapper {
  height: 100%;
  display: flex;
  align-items: center; }

.card {
  display: flex;
  height: 80%; }
  .card--image {
    width: 62.5%;
    height: 100%;
    background-image: url("../../assets/Image1.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .card--description {
    width: 37.5%;
    height: 100%; }
    .card--description__links {
      display: flex;
      flex-direction: column; }
      .card--description__links * {
        margin-top: 3rem; }

.far {
  color: #CC4E38;
  background-color: #0D0D0D;
  height: 100%;
  width: 100%; }

.glider-next {
  background-color: #0D0D0D;
  border: none;
  height: 10rem;
  width: 10rem; }

.glider-prev {
  background-color: #0D0D0D;
  border: none;
  height: 10rem;
  width: 10rem; }

form input {
  width: 100%;
  height: 5.5rem;
  background-color: #0D0D0D;
  border: 0.5rem solid #CC4E38;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #F2F2F2;
  padding-left: 1.5rem; }

form textarea {
  width: 100%;
  background-color: #0D0D0D; }

.form--section {
  justify-content: space-around; }

.button--red {
  width: 25rem;
  height: 7.5rem;
  border: 0.5rem solid #CC4E38;
  background: #0D0D0D;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #F2F2F2;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s; }
  .button--red:hover {
    background: #CC4E38; }
  .button--red:focus {
    outline: none; }

.button--card {
  width: 18rem;
  height: 7.0rem;
  border: 0.5rem solid #CC4E38;
  background: #0D0D0D;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #F2F2F2;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s; }
  .button--card:hover {
    background: #CC4E38; }
  .button--card:focus {
    outline: none; }

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 13fr 3fr 13fr 3fr 1fr;
  grid-template-rows: 20rem 7rem;
  grid-auto-rows: 36rem 7rem; }

header {
  grid-column: 2 / span 2;
  grid-row: 1 / 2; }

.logo {
  height: 50%; }

nav {
  grid-column: 5 / 8;
  grid-row: 1 / 2;
  align-self: end; }

.cta--image {
  grid-column: 1 / 5;
  grid-row: 2 / 6; }

.blurredimage {
  height: 100%;
  width: auto; }

.heading {
  grid-column: 5 / 6;
  grid-row: 4 / 5; }

.cta--text {
  grid-column: 5 / 6;
  grid-row: 5 / 6; }

.portfolio--heading {
  grid-column: 2 / span 2;
  grid-row: 6 / 7; }

.portfolio--slider {
  grid-column: 3 / 6;
  grid-row: 7 / 9;
  background-color: #0D0D0D; }

.contact--heading {
  grid-column: 2 / span 2;
  grid-row: 10 / 11; }

.form--section {
  grid-column: 5 / 6;
  grid-row: 11 / 15; }
  .form--section input, .form--section textarea {
    display: block; }

.about--heading {
  grid-column: 2 / span 2;
  grid-row: 18 / 19; }
