html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #0D0D0D; }

h1 {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #CC4E38;
  font-size: 4rem; }

.title {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #F2F2F2;
  font-size: 5rem; }

.card--description__heading {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #CC4E38;
  font-size: 3rem;
  margin-top: 3rem; }

.card--description__text {
  font-family: "nimbus-sans-extended", sans-serif;
  font-weight: 700;
  color: #F2F2F2;
  font-size: 1.5rem;
  margin-top: 4rem;
  width: 80%; }

.highlight--red {
  background-color: #CC4E38;
  width: 100%;
  height: 2.5rem; }

p {
  font-family: 'Lato', sans-serif;
  color: #F2F2F2;
  line-height: 2;
  font-size: 2rem; }

nav ul {
  margin: 0;
  padding: 0; }

nav li {
  display: inline;
  list-style: none;
  font-family: 'nimbus-sans-extended', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #F2F2F2;
  margin-right: 7rem;
  transition: all .2s; }
  nav li:hover {
    color: #CC4E38; }

.slider {
  overflow: hidden;
  position: relative; }

.slider .slider--item,
.slider .slider--item__hidden {
  display: none;
  background-color: #0D0D0D; }

.slider .slider--item__wrapper {
  display: flex; }

.slider .slider--item__image {
  width: 66%;
  height: auto;
  overflow: hidden; }
  .slider .slider--item__image img {
    width: 100%;
    height: auto; }

.slider .slider--item__text {
  width: 33%; }

.slider .slider--item__visible {
  display: block; }

.slider .slider--actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .slider .slider--actions button {
    border: 0; }

form input {
  width: 90rem;
  height: 5.5rem;
  background-color: #0D0D0D;
  border: none;
  border-bottom: 0.5rem solid #CC4E38;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: #F2F2F2;
  margin-bottom: 5rem; }

form textarea {
  width: 100%;
  background-color: #0D0D0D;
  border: none;
  border-bottom: 0.5rem solid #CC4E38;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: #F2F2F2;
  margin-bottom: 5rem; }

.form--section {
  justify-content: space-around; }

.button--red {
  width: 25rem;
  height: 7.5rem;
  border: 0.5rem solid #CC4E38;
  background: #0D0D0D;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #F2F2F2;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s; }
  .button--red:hover {
    background: #CC4E38; }
  .button--red:focus {
    outline: none; }

.button--card {
  width: 15rem;
  height: 7.0rem;
  border-bottom: 0.3rem solid #CC4E38;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-right: 5rem;
  margin-top: 5rem;
  background: #0D0D0D;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #F2F2F2;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s; }
  .button--card:hover {
    background: #CC4E38; }
  .button--card:focus {
    outline: none; }

.arrows {
  color: #CC4E38;
  background-color: #0D0D0D; }
  .arrows:focus {
    outline: none; }

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 13fr 3fr 13fr 3fr 1fr;
  grid-template-rows: 20rem 7rem;
  grid-auto-rows: 36rem 7rem; }

header {
  grid-column: 2 / span 2;
  grid-row: 1 / 2;
  background-image: url("../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; }

nav {
  grid-column: 5 / 8;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: end; }

.cta--image {
  grid-column: 1 / 5;
  grid-row: 2 / 6; }

.blurredimage {
  height: 100%;
  width: auto; }

.heading {
  grid-column: 5 / 6;
  grid-row: 4 / 5; }

.cta--text {
  grid-column: 5 / 6;
  grid-row: 5 / 6; }

.portfolio--heading {
  grid-column: 2 / span 2;
  grid-row: 6 / 7;
  z-index: 1;
  align-self: end;
  margin-top: 15rem; }

.slider {
  grid-column: 3 / 6;
  grid-row: 7 / 9;
  background-color: #0D0D0D;
  padding-top: 2rem; }

.contact--heading {
  grid-column: 2 / span 2;
  grid-row: 10 / 11; }

.form--section {
  grid-column: 5 / 6;
  grid-row: 9 / 12;
  align-self: center; }
  .form--section input, .form--section textarea {
    display: block; }

.about--heading {
  grid-column: 2 / span 2;
  grid-row: 12 / 13; }
